---
---

<div class="flex justify-center items-center bg-hero bg-cover bg-center  h-[80vh]">
    <h1 class="text-magenta text-7xl filter drop-shadow-lg"><span class="text-red">Strong Body,</span> Calm Mind</h1>
</div>
