---

---

<section class="py-12">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold text-center text-black mb-8">Gallery</h2>
    <p class="text-gray-600 text-center mb-12">
      Explore snapshots from our fitness sessions and community events.
    </p>
    <div class="carousel carousel-center rounded-box h-80">
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/11036671/pexels-photo-11036671.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Pizza"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Pizza"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/7031705/pexels-photo-7031705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Pizza"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/28636776/pexels-photo-28636776/free-photo-of-gym-weight-plates-on-rack-in-fitness-center.png"
          alt="Pizza"
        />
      </div>
    </div>
  </div>
</section>
