---
---

<section class="relative flex justify-center items-center bg-hero bg-cover bg-center h-[80vh]">
    <div class="absolute inset-0 bg-black opacity-20 h-"></div>
    <h1 class="text-magenta text-3xl sm:text-6xl lg:text-7xl filter drop-shadow-lg font-semibold z-0">
        <span class="text-red">Strong Body,</span> Calm Mind
    </h1>
</section>
