---

---

<section class="hero min-h-[80vh] bg-mobileHero sm:bg-hero bg-cover">
  <div class="hero-overlay bg-opacity-15 bg-magenta"></div>
  <div class="hero-content text-neutral-content text-center">
    <h1
      class="text-magenta text-3xl sm:text-6xl lg:text-7xl filter drop-shadow-lg font-semibold z-0"
    >
      <span class="text-red">Strong Body,</span> Calm Mind
    </h1>
  </div>
</section>
