---
import Card from '../ui/Card.astro';
---

<section class="flex justify-center p-4 gap-4">
    <Card img="https://i.pinimg.com/736x/5d/b5/d1/5db5d1c8efc44a146288e3501d4e73d4.jpg" title="Personalzed Training" description="Work one-on-one with our experienced trainers to create a custom fitness program tailored to your goals and needs"/>
    <Card img="https://i.pinimg.com/736x/04/4b/da/044bda1463602008870f507a22e00299.jpg" title="Pilates Classes" description="Improve your strength, flexibility, and posture with our pilates sessions, suitable for all levels."/>
    <Card img="https://i.pinimg.com/736x/b2/8a/51/b28a51604e6ff1ce72a7f43e5454904c.jpg" title="Fitness Assessments" description="Begin with a comprehensive assessment where we measure your fitness levels and design a program just for you."/>
</section>
